
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

*{
    margin:0;
    padding:0;
}

.logo{
    width:20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width:33%;
    border: 3px solid white;
    border-radius: 50px;
}
.navbar{
    display:flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.nav-list{
    width:50%;
    display:flex;
    /* justify-content: center;   horizontal centering*/
    /* align-items: center;            Vertical centering */ 
}

.nav-list li{
    list-style: none;
    padding:1rem;    
}

.nav-list li a {
    text-decoration: none;
    color:white;
}

.nav-list li a:hover {
   color:gray;
}
.rightNav{
    width:50%;
    text-align: right;
    padding: 0 25px;
}

#search{
    padding:5px;
    font-size:17px;
    border:2px solid gray;
    border-radius: 9px;;
}

.background{
    background:rgba(0,0,0,0.7) url('../img/bg.jpg') ;
    background-size:cover ;
    background-blend-mode: darken;
}

.firstSection{
    height: 100vh;;
}

.box-main{
   display:flex; 
   justify-content: center;
   align-items: center;
   color: white;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width:50%;
    margin: auto;
    height:70%;
}

.firstHalf{
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.secondHalf img{
    width:70%;
    border-radius: 50%;
    display: block;
    margin:auto; 
}

.text-big{
    font-size:41px;
}

.text-small{
    font-size: 18px;
}

.btn{
    padding: 8px 20px;
    margin:7px 0;
    border : 2px solid white;
    border-radius:8px;
    background:none;
    color:white;
    cursor:pointer;
}

.btn-sm{
    padding: 3px 10px;
    vertical-align: middle;
}

.section{
    height:400px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width:80%;
    margin: auto;
    font-family:'Ubuntu',sans-serif ;

}

.section-left{
   flex-direction: row-reverse;
}

.section-left .thumbnail{
    margin-right: 1rem;
}

.sectionSubTag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.thumbnail img{
    width: 250px;
    border: 3px solid black;
    border-radius: 13px;
}

.contact{
    background-color: #deb8876b;
    height: a uto;
    color: white;
}

.text-center{
    text-align: center;
    padding: 20px;
    font-family:'Ubuntu',sans-serif ;
}

.form{
    max-width: 500px;
    margin:42px auto;
}

.form-input{
    margin:10px 0;
    width: 100%;
    font-size: 19px;
    border:2px solid gray;
    border-radius: 6px;
}
